root = true
[*]

blank_lines_around_region=1
blank_lines_inside_region=0
blank_lines_after_using_list=1
blank_lines_inside_namespace=0
blank_lines_after_file_scoped_namespace_directive=1
blank_lines_around_type=1
blank_lines_around_single_line_type=0
blank_lines_around_field=0
blank_lines_around_property=0
blank_lines_around_method=0
blank_lines_around_single_line_auto_property=0
blank_lines_around_accessor=0
blank_lines_around_single_line_accessor=0
keep_blank_lines_in_code=2
blank_lines_around_local_method=0
blank_lines_around_single_line_local_method=0


csharp_type_declaration_braces=next_line
csharp_brace_style=end_of_line
csharp_for_built_in_types=use_var_when_evident
csharp_for_simple_types=use_explicit_type
csharp_for_other_types=use_var
csharp_use_roslyn_logic_for_evident_types=true
csharp_static_members_qualify_with=declared_type
csharp_parentheses_redundancy_style=remove
csharp_braces_for_ifelse=not_required
csharp_method_or_operator_body=block_body
csharp_accessor_owner_body=accessors_with_expression_body
csharp_namespace_body=file_scoped
csharp_force_attribute_style=separate
csharp_trailing_comma_in_multiline_lists=true
csharp_trailing_comma_in_singleline_lists=false
csharp_object_creation_when_type_evident=target_typed
csharp_default_value_when_type_evident=default_literal


csharp_indent_size=4
resharper_indent_nested_usings_stmt=false
resharper_indent_nested_fixed_stmt=false
resharper_indent_nested_lock_stmt=false
csharp_indent_preprocessor_if=usual_indent
csharp_indent_switch_labels=false
csharp_outdent_statement_labels=true
csharp_indent_type_constraints=true
csharp_alignment_tab_fill_style=optimal_fill
csharp_int_align_fix_in_adjacent=false


csharp_keep_existing_arrangement=true
csharp_max_line_length=1000
csharp_wrap_before_comma=false
csharp_place_type_attribute_on_same_line=if_owner_is_single_line
csharp_place_method_attribute_on_same_line=never
csharp_place_accessorholder_attribute_on_same_line=if_owner_is_single_line
csharp_place_accessor_attribute_on_same_line=if_owner_is_single_line
csharp_place_field_attribute_on_same_line=true
csharp_place_record_field_attribute_on_same_line=if_owner_is_single_line
csharp_new_line_before_else=false
csharp_new_line_before_while=false
csharp_new_line_before_catch=false
csharp_new_line_before_finally=false
csharp_keep_existing_embedded_arrangement=true
csharp_place_simple_case_statement_on_same_line=if_owner_is_single_line
